<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>users </display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  
  <servlet> 
  <servlet-name>hotstar</servlet-name>
  <servlet-class>com.httpservlet.one.users </servlet-class>
  </servlet>
   <servlet-mapping> 
  <servlet-name>hotstar</servlet-name>
  <url-pattern>/user/registration</url-pattern>
  </servlet-mapping>
  
  
  <servlet> 
  <servlet-name>hotstarLogin</servlet-name>
  <servlet-class>com.httpservlet.one.userLogin </servlet-class>
  </servlet>
   <servlet-mapping> 
  <servlet-name>hotstarLogin</servlet-name>
  <url-pattern>/userLogin/registration</url-pattern>
  </servlet-mapping>
  
  
  
  
  
</web-app>
